*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #eacdc2;
  --secondary-color: #b75d69;
  --primary-text-color: #1a1423;
  --secondary-text-color: #372549;
  --accent-color: #774c60;
}

.credential {
  list-style: none;
  background: #eacdc2;
  border: var(--accent-color) 1px solid;
  border-radius: 0.2em;
  margin: 1em 0;
  color: var(--primary-text-color);
}

.service {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  background: #b75d69;
  border: none;
  margin: 0.5em;
  padding: 0 0.5em;
  border-radius: 2em;
  display: space-between;
}
