*,
*::after,
*::before {
  box-sizing: border-box;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3em;
}

.hero img {
  width: 100%;
}
